$color-4: #eead68;
$color-3: #eec368;
$color-2: #eece68;
$color-1: #eed968;
$color-5: #ee8c68;

$colorgrey-5: #cecccc;
$colorgrey-4: #e0dede;
$colorgrey-3: #edeaea;
$colorgrey-2: #f7f4f4;
$colorgrey-1: #fcfcfc;


$color: $color-1, $color-2, $color-3, $color-4, $color-5;
$colorgrey: $colorgrey-1, $colorgrey-2, $colorgrey-3, $colorgrey-4, $colorgrey-5;

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%,
    100% {
      opacity: 0;
    }
  }
}

#loader
{
    width: 100%;
    background: #eeeeee;
}

span.loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-delay: 1s;
}

@for $i from 1 through 5 {
  .item-#{$i} {
    width: 10px;
    height: 10px;
    background: #f583a1;
    border-radius: 50% !important;
    @include anim();
    background-color: nth($color, $i);
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 1s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.3s all ease;
      transform: scale(1);
    }
  }
}

@for $i from 1 through 5 {
  span.loader.loader-mini .item-#{$i} {
    width: 10px;
    height: 10px;
    background: #f583a1;
    border-radius: 50% !important;
    @include anim();
    background-color: nth($colorgrey, $i);
    margin: 8px 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: nth($colorgrey, $i);
      opacity: 0.7;
      animation: scale 1s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.3s all ease;
      transform: scale(1);
    }
  }
}
