/* Color Palette */

@orange-100: #ffe082;
@orange-200: #ffd54f;
@orange-300: #ffc107;
@orange-400: #ffa000;
@orange-500: #ff6f00;
@orange-link: #c55400;

@invert-orange-100: spin(@orange-100, 180);
@invert-orange-200: spin(@orange-200, 180);
@invert-orange-300: spin(@orange-300, 180);
@invert-orange-400: spin(@orange-400, 180);
@invert-orange-500: spin(@orange-500, 180);
@invert-orange-link: spin(@orange-link, 180);

@grey-100: #757575;
@grey-200: #616161;
@grey-300: #424242;
@grey-400: #212121;
@grey-500: #131313;

@invert-grey-100: spin(@grey-100, 180);
@invert-grey-200: spin(@grey-200, 180);
@invert-grey-300: spin(@grey-300, 180);
@invert-grey-400: spin(@grey-400, 180);
@invert-grey-500: spin(@grey-500, 180);


@white-100: #fafafa;
@white-200: #f5f5f5;
@white-300: #eeeeee;
@white-400: #e0e0e0;
@white-500: #bdbdbd;

@invert-white-100: spin(@white-100, 180);
@invert-white-200: spin(@white-200, 180);
@invert-white-300: spin(@white-300, 180);
@invert-white-400: spin(@white-400, 180);
@invert-white-500: spin(@white-500, 180);


@red: #bc1c1c;
@invert-red: spin(@red, 180);

@green: #1bc640;
@invert-green: spin(@green, 180);

@blue: #3273db;
@invert-green: spin(@blue, 180);

/* Main Colors */

@sidebar-bg: @grey-400;
@sidebar-text: @white-300;
@header-bg: @orange-400;
@header-text: @grey-500;

/* Font */

@font-face
{
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face
{
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

/* Font Size */

.headline
{
    font-family: OpenSansSemiBold;
    font-size: 1.5em;
}
.subtitle
{
    font-size: 1.3em;
}
.button_text
{
    font-family: OpenSans;
    font-size: 1.14em;
}
.secondary_text
{
    font-family: OpenSans;
    font-size: 0.85em;
}

.primary_text
{
    font-family: OpenSans;
    font-size: 1em;
}

.table_text
{
    font-family: OpenSans;
    font-size: 0.8em;
}

html
{
    min-height: 100%;
    *
    {
        border-radius: 0px !important;
    }
}

body
{
    padding: 0;
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: [start_col] 200px [sidebar] 1fr [end_col];
    grid-template-rows: [start_row ]60px [head] 1fr [end_row];
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    font-family: OpenSans;
    font-size: 14px;
}

body.dark
{
    content
    {
        filter: invert(92%);
        input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="radio"]:focus
        {
            box-shadow: 0 0 0 0.2rem @invert-orange-200 !important;
        }
        page.articles .box.data .tabs input[type="radio"]:checked ~ span.btn-warning
        {
            filter: invert(100%);
            color: @grey-500 !important;
            background: @orange-400 !important;
        }
        .btn-tab span.btn-warning
        {
            filter: invert(100%);
            background: @grey-400 !important;
            color: @white-300 !important;
        }
        .avatar img, .validate-error, .info i, input[type="checkbox"], .btn:not(.btn-light), span.loader, .error_404 .link, .custom-control-input:checked~.custom-control-label::before, .progress-bar
        {
            filter: invert(100%);
        }
        .validate-error-input
        {
            border-color: @invert-red !important;
        }
        .conf .name a:hover
        {
            color: @invert-orange-500 !important;
            border-color: @invert-orange-500 !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button
        {
            &.current, &:hover, &:focus, &:active
            {
                filter: invert(92%);
                &:hover, &:focus, &:active
                {
                    filter: invert(92%);
                }
            }
        }
        page.confs
        {
            table.dataTable tbody
            {
                td a
                {
                    filter: invert(92%);
                }
                td span.tag
                {
                    background: @white-400;
                }
            }
        }
    }
    header > div
    {
        filter: invert(92%);
        input.search:focus
        {
             box-shadow: 0 0 0 0.2rem #002ab0;
        }
    }
    .modal
    {
        filter: invert(92%);
        input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="radio"]:focus
        {
            box-shadow: 0 0 0 0.2rem @invert-orange-200 !important;
        }
        input[type="checkbox"], .btn-danger, .validate-error, .alert_author, .btn-warning
        {
            filter: invert(92%);
        }
        .select2-container--default
        {
            &.select2-container--focus .select2-selection--multiple
            {
                border-color: @grey-400 !important;
                box-shadow: 0 0 0 0.2rem @invert-orange-200 !important;
            }
        }
    }
    .btn-art
    {
        color: @white-500;
        &:hover
        {
            color: @orange-400;
        }
    }
}
sidebar
{
    position: sticky;
    top: 0;
    grid-area: sidebar;
    background-color: @sidebar-bg;
    font-family: OpenSansLight;
    height: 100vh;
    padding: 25px;
    color: @sidebar-text;
    font-size: 1.2em;
    div.name
    {
        height: 30px;
        margin-bottom: 50px;
        a
        {
            font-family: OpenSans;
            color: @sidebar-text;
            transition: all 0.2s;
            &:hover
            {
                text-decoration: none;
            }
        }
        &:hover a
        {
            color: @orange-300;
            transition: all 0.2s;
        }
        span.count_alerts
        {
            background: @orange-300;
            border-radius: 50px !important;
            padding: 0px 5px;
            color: @grey-400;
            font-size: 0.7em;
            font-family: OpenSansSemiBold;
            position: relative;
            top: -5px;
            cursor: default;
        }
    }
    ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        a
        {
            text-decoration: none;
            color: unset;
            transition: all 0.2s;
            &.active, &:hover
            {
                /*
                font-family: OpenSans;
                background: @orange-400;
                color: @grey-400;
                padding: 0px 5px;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.2s;
                */
                text-decoration: none;
                color: @orange-300;
                transition: all 0.2s;
            }
            &.active:hover
            {
                color: @orange-500;
            }
            &.disabled
            {
                color: @grey-100;
                cursor: default;
                pointer-events: none;
            }
        }
        ul
        {
            margin-left: 20px;
        }
        li
        {
            margin: 4px 0px;
        }
    }
}

header
{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: @header-bg;
    width: 100%;
    color: @header-text;
    font-family: OpenSans;
    padding: 10px 15px;
    h1
    {
        .headline;
        align-self: center;
        margin-bottom: 0;
        a
        {
            text-decoration: none;
            transition: all 0.2s;
            color: @grey-400;
            &:hover
            {
                text-decoration: none;
                color: @grey-500;
            }
        }
    }
    div
    {
        display: flex;
        flex-direction: row;
        align-self: center;
        form
        {
            margin: 0;
        }
        button.btn-light
        {
            width: 35px;
            height: 35px;
            font-size: 1.3em;
            border-radius: 0;
            border: none;
            background-color: @white-100;
            color: @grey-500;
            margin-right: 15px;
            padding: 6px 0px;
        }
        input.search
        {
            width: 390px;
            height: 35px;
            background-color: @white-100;
            border-radius: 0;
            font-size: 1em;
            color: @grey-300;
            padding: 10px;
            transition: all 0.2s;
            border: none;
            &:focus
            {
                outline: none;
                box-shadow: 0 0 0 0.2rem @orange-200;
            }
        }
    }
}

.select2
{
    width: 100% !important;
    background-color: @white-100;
}

.select2-container--default
{
    margin-top: 5px;
    &.select2-container--focus .select2-selection--multiple
    {
        border-color: @grey-400 !important;
        box-shadow: 0 0 0 0.2rem @orange-200 !important;
    }
}

.select2-results__option--highlighted[aria-selected=false]
{
    background-color: @orange-500 !important;
    color: @white-300 !important;
}

.select2-results__option--highlighted[aria-selected=true]
{
    background-color: @orange-100 !important;
    color: @grey-400 !important;
}

.select2-selection__choice
{
    margin-top: 4px !important;
    &:nth-last-child(2)
    {
        margin-bottom: 4px !important;
    }
}

.modal
{
    h1
    {
        .headline;
    }
    h2
    {
        .subtitle;
    }
    #profile-edit > button
    {
        float: right;
        margin-left: 10px;
        border: none;
    }
    .modal-dialog.widther
    {
        max-width: 800px;
    }
    div.form-group + div.form-group
    {
        margin-top: 10px;
    }
    textarea
    {
        width: 100%;
    }
    .alert_author
    {
        position: relative;
        top: 10px;
        font-size: 1.4em;
        min-width: 15px;
        margin: 0px 8px 0px 0px;
        text-align: center;
        color: @blue;
    }
    .alert_author.alert_author_self
    {
        color: @green;
        top: 12px;
        font-size: 1em;
    }
    .alert_author.alert_author_enemy
    {
        color: @red;
        top: 12px;
        font-size: 1em;
    }
    #authors_similar
    {
        label, .alert_author
        {
            margin-right: 0px;
            margin-left: 5px;
            top: -1px;
        }

        .alert_author
        {
            color: @red;
        }
    }

}

content
{
    h1
    {
        .headline;
    }
    h2
    {
        .subtitle;
    }
    padding: 15px;
    grid-area: content;
    background-color: @white-100;
    div.info
    {
        padding: 15px;
        background-color: @white-300;
        max-height: 300px;
        overflow: auto;
        margin-bottom: 15px;
        ul {
            padding-left: 0;
            li {
                line-height: 1.5;
                list-style-type: none;
            }
        }
    }
    .infoform
    {
        margin-bottom: 0px;
    }
}

page.main > div#app
{
    display: grid;
    grid-template-columns: [start_col] 3fr [mid] 1fr [end_col];
    grid-template-rows: [start_row ] auto [mid] auto [end_row];
    grid-template-areas:
        "addform examples"
        "data data";
}

page.profile
{
    display: grid;
    grid-template-columns: [start_col] 1fr [end_col];
    grid-template-rows: [start_row ] auto [first] auto [second] auto [end_row];
    grid-template-areas:
        "information"
        "alerts"
        "confs";
    .box-body
    {
        background-color: @white-100;
    }
    .box-header
    {
        width: 100%;
    }
    .user_link
    {
        text-decoration: none;
        color: @orange-link;
        &:hover
        {
          text-decoration: underline;
        }
    }
    .alerts
    {
        margin-top: 25px;
        grid-area: alerts;
        article {
          margin-top: 5px;
        }
        article
        {
            min-height: 60px;
            margin-bottom: 0px;
            .article
            {
                width: 100%;
                min-height: 58px;
            }
            .user.text {
              font-size: 0.9em;
            }
            label:nth-child(1)
            {
                flex-grow: 1;
            }
            .menu
            {
                padding: 0;
                display: flex;
                > div
                {
                    align-self: center;
                    padding: 10px;
                    padding-left: 0px;
                }
            }
        }

        .buttons
        {
            background-color: @white-300;
            width: 100%;
            text-align: right;
            margin: 2px 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 5px 15px;
            button, label
            {
                margin-left: 5px;
                margin-bottom: 0px;
            }
            margin-bottom: 2px;
        }
    }
    .information
    {
        grid-area: information;
        display: flex;
        justify-content: space-between;
        .main
        {
            display: flex;
            flex-direction: row;
            .text
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 15px;
            }
            .avatar
            {
                width: 140px;
                height: 140px;
                overflow: hidden;
                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
            #name_translit
            {
                margin-top: -5px;
            }
            h2
            {
                margin: 0;
            }
        }
        .button-block
        {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .btn-edit, .btn-edit-pass, .btn-view-all-nir, .btn-report-all-nir
          {
              .secondary_text;
              width: 100%;
              margin: 2.5px 0px 0px;
          }
        }

    }
    .confs
    {
        margin-top: 25px;
        grid-area: confs;
        .conf
        {
            display: flex;
            flex-direction: row;
            background-color: @white-300;
            margin-top: 2px;
            .name
            {
                padding: 8px 15px;
                flex-grow: 1;
                a
                {
                    text-decoration: none;
                    border-bottom: 1px solid @grey-500;
                    color: @grey-400;
                    font-family: OpenSans;
                    transition: all 0.2s;
                    &.active, &:hover
                    {
                        color: @orange-500;
                        border-color: @orange-500;
                        transition: all 0.2s;
                    }
                }
            }
            .sign
            {
                display: flex;
                padding: 8px 0px 8px 15px;
                img
                {
                    align-self: center;
                }
            }
            .info
            {
                padding: 8px;
                margin: 0;
                width: auto;
                min-width: 350px;
                i
                {
                    color: @orange-500;
                    margin-right: 5px;
                }
            }
        }
    }
}

page.articles
{
    display: grid;
    grid-template-columns: [start_col] 1fr [end_col];
    grid-template-rows: [start_row ] auto [mid] auto [end_row];
    grid-template-areas:
        "addform"
        "data";
    &.articles_litra
    {
      .box.data
      {
        padding: 0px;
      }
      article, article .article
      {
        min-height: 0px;
      }
      #skeleton .skeleton-wrapper
      {
        height: 51px;
      }
    }
    #form_add
    {
        > div
            {
            display: flex;
            flex-direction: row;
            .box-body
            {
                width: 70%;
            }
            .examples
            {
                width: 30%;
            }
        }
    }
    .box.data
    {
        .box-header
        {
            width: 100%;
        }
        .box-body
        {
            width: 100%;
        }
        #data article+article
        {
            margin-top: 2px;
        }
        article
        {
            margin-bottom: 0px;
            .article
            {
                width: 100%;
            }
            label:nth-child(2)
            {
                flex-grow: 1;
            }
            .menu
            {
                padding: 0;
                display: flex;
                min-width: 150px;
                > div
                {
                    align-self: center;
                    padding: 10px;
                    padding-left: 0px;
                }
            }
            input[type="checkbox"]
            {
                margin-left: 5px;
            }
        }
        .tabs
        {
            background: @white-300;
            width: 100%;
            display: flex;
            align-items: stretch;
            padding: 5px 15px;
            margin-bottom: 2px;
            label
            {
                margin-bottom: 0;
            }
            label + label
            {
                margin-left: 5px;
            }
            .btn-tab
            {
                width: 100%;
                font-family: OpenSansLight;
                span
                {
                    width: 100%;
                    background: @white-500;
                    color: @grey-400;
                }
            }
            input[type="radio"]:checked ~ span.btn-warning
            {
                background: @orange-400;
                color: @grey-400;
                font-family: OpenSans;
            }
        }
        button[type="submit"]
        {
            font-family: OpenSansSemiBold;
        }
        div#loader
        {
            width: 100%;
            text-align: center;
            background: @white-300;
            margin-top: 2px;
        }
        /* Publicaions in progress */
        #data_body
        {
            background: @white-300;
            padding: 15px;
            .scaling-btn
            {
                min-height: 40px;
                width: 30px;
            }
            .scaling-menu
            {
                box-shadow: 0px 0px 0 .2rem rgba(0,0,0,0.1);
                position: absolute;
                background: @white-400;
                padding: 10px;
                width: 200px;
                transition: all 0.3s;
                right: 30px;
                top: 0;
                transform-origin: right;
                text-align: left;
                z-index: 10;
                transform: scaleX(0);
                ul
                {
                    margin-bottom: 0;
                }
                &.open
                {
                    transform: none;
                }
            }
            .custom-control-input:checked~.custom-control-label::before
            {
                border-color: @orange-400;
                background-color: @orange-400;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
            {
                background: transparent;
                border: none;
            }
            .progress
            {
                width: 100%;
                background-color: @white-400;
                height: 20px;
                position: relative;
                z-index: 0;
            }
            .skeleton_table_wrapper {
              width: 100%;
              .skeleton_search {
                .skeleton_search_text {
                  display: inline-block;
                  height: 18px;
                  width: 46px;
                  background: @white-400;
                  border-radius: 50px !important;
                  transform: translateY(-5px);
                  margin-right: 2px;
                }
                .skeleton_search_input {
                  height: 31px;
                  width: 168px;
                  display: inline-block;
                  background: @white-400;
                }
              }
              .skeleton_table {
                width: 100%;
                th {
                  width: 14%;
                  padding: 10px 18px 10px 8px;
                  border-bottom: 1px solid @white-500;
                  text-align: center;
                }
                th:first-child {
                  width: 22%;
                }
                td {
                  border-bottom: 1px solid @white-500;
                  border-right: 1px solid @white-500;
                  padding: 10px 5px;
                }
                td:last-child {
                  border-right: none;
                }
                .skeleton_th {
                  height: 22px;
                  border-radius: 50px !important;
                  background: @white-400;
                  &.skeleton_th_act {
                     width: 15px; height: 0px;
                  }
                }
                .skeleton_td {
                  height: 16px;
                  width: 90%;
                  border-radius: 50px !important;
                  background: @white-400;
                  &.skeleton_td_act {
                     margin-left: auto;
                     width: 20px; height: 30px;
                  }
                  &.skeleton_td_status {
                     border-radius: 0px !important;
                  }
                }
                .skeleton_td + .skeleton_td {
                  margin-top: 6px;
                }
              }
            }
        }
    }
}

page.main
{
    .addForm-wrapper .box-header
    {
        width: 100%;
    }
    .data .box-header
    {
        width: 100%;
    }
    article
    {
        .number {
          padding: 8px 0px 8px 15px;
        }
        min-height: 73px;
        margin-bottom: 0px;
        .text
        {
            padding-left: 5px;
            flex-grow: 1;
        }
    }
    article + article
    {
        margin-top: 2px;
    }
}

select[name="dataTable_length"] {
  padding: 0;
  height: auto;
  font-size: 1em;
  display: inline-block;
  width: auto;
}

page.confs
{
    .conf-select
    {
      display: inline-block;
      width: auto;
      margin-bottom: 10px;
      padding: 0;
      height: auto;
      font-size: 1em;
    }
    #confs
    {
        padding: 15px;
    }
    .box-header
    {
        width: 100%;
    }
    table.dataTable
    {
        td, th
        {
            font-size: 0.8em;
        }
        td a
        {
            color: #c55400;
        }
        tbody tr:last-child
        {
            border-bottom: 1px solid @white-500;
        }
        tr.group td
        {
            background: @white-400;
            cursor: pointer;
        }
        .tags-wrapper
        {
            display: flex;
            flex-wrap: wrap;
        }
        span.tag
        {
            margin: 2.5px;
            flex-grow: 1;
            text-align: center;
            padding: 5px;
            border-radius: 150px;
            background: @orange-100;
            font-size: 0.9em;
            cursor: pointer;
        }
    }
}

.box
{
    .box-body
    {
        background: @white-300;
    }
    .box-header
    {
        position: relative;
        display: block;
        width: 70%;
        padding: 10px 15px;
        background: @white-300;
        .headline;
        margin-bottom: 2px;
        color: @grey-400;
        transition: color 0.2s;
        &:hover
        {
            text-decoration: none;
            color: @grey-300;
        }
        i
        {
            position: absolute;
            right: 15px;
            top: 16px;
            transition: all 0.2s;
        }
        &.collapsed
        {
            i
            {
                transform: rotate(90deg);
            }
        }
    }
    &.box_mini
    {
        margin-top: 10px;
        .box-header
        {
            padding: 5px 5px;
            .subtitle;
        }
        i
        {
            top: 10px;
        }
        .box_mini__view
        {
            background: @white-300;
            padding: 5px;
            margin-bottom: 2px;
        }
    }
}


table.dataTable.no-footer
{
    border-bottom-color: @white-500;
    width: 100% !important;
    thead th
    {
        padding: 10px 18px 10px 8px;
        border-bottom-color: @white-500;
    }
    tbody td
    {
        padding: 10px 5px;
        border-bottom: 1px solid @white-500;
    }
    td + td
    {
        border-left: 1px solid @white-500;
    }
    tbody tr:last-child td
    {
        border-bottom: none;
    }
    td.actions, th.actions
    {
        border-left: none;
        padding: 0px;
        width: 30px;
        text-align: right;
        > div
        {
            position: relative;
        }
    }
    td.icon
    {
        text-align: center;
    }
    .tr_article
    {
        .table_text;
        td.status {
            padding-left: 0px;
            position: relative;
            select
            {
                width: 100%;
                border: none;
                text-decoration: underline;
            }
        }
    }
    textarea
    {
        padding: 4px;
        border: none;
        background: transparent;
        width: 100%;
        &:focus
        {
            background: @white-100;
        }
    }
    select
    {
        background: transparent;
    }
    td, th
    {
        background: @white-300;
    }
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: calc(50% - 8px);
    right: 2px;
    display: block;
    font-family: "Font Awesome 5 Free";
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.dataTables_wrapper .dataTables_filter input
{
    background-color: #fafafa;
    border-radius: 0;
    font-size: 1em;
    color: #424242;
    padding: 5px;
    transition: all 0.2s;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button
{
    &.current, &:hover, &:focus, &:active
    {
        border-color: @white-500;
        background: @orange-200;
        color: @grey-400 !important;
        &:hover, &:focus, &:active
        {
            background: @orange-300;
            color: @grey-400 !important;
        }
    }
}

div.addForm
{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    grid-area: addform;
    .tab-content
    {
        width: 100%;
    }
    ul.nav
    {
        flex-direction: column;
        max-width: 150px;
        min-width: 150px;
        text-align: right;
        border: none;
        li.nav-item
        {
            width: 150px;
            height: 38px;
            text-align: center;
            border-radius: 0;
            margin-bottom: 2px;
            &:last-child
            {
                margin-bottom: 0px;
            }
            background-color: @white-200;
            &.active
            {
                background-color: @white-300;
            }
            &:hover
            {
                background-color: @white-300;
            }
            a.nav-link
            {
                color: @grey-400;
                .button_text;
                border: none;
            }
        }
    }
    div.tab-pane
    {
        background: @white-300;
        min-height: 1078px;
    }
    div.author-wrapper
    {
        display: flex;
        flex-direction: column;
        > div
        {
            display: flex;
            flex-direction: row;
            input[type="text"]
            {
                flex-grow: 1;
                margin-right: 10px;
            }
            input[type="radio"]
            {
                width: auto;
                margin-right: 10px;
            }
            button
            {
                white-space: nowrap;
            }
            button + button
            {
                margin-left: 10px;
            }
        }
        div + div
        {
            margin-top: 10px;
        }
    }
}

div.editForm
{
    background: @white-300;
    min-height: 100px;
    div.author-wrapper
    {
        display: flex;
        flex-direction: column;
        > div
        {
            display: flex;
            flex-direction: row;
            input[type="text"]
            {
                flex-grow: 1;
                margin-right: 10px;
            }
            input[type="radio"]
            {
                width: auto;
                margin-right: 10px;
            }
            button
            {
                white-space: nowrap;
            }
            button + button
            {
                margin-left: 10px;
            }
        }
        div + div
        {
            margin-top: 10px;
        }
    }
}

div.editForm, div.addForm
{
    form
    {
        width: 100%;
        padding: 10px;
        div.form-group > label
        {
            font-family: OpenSansSemiBold;
        }
        .types
        {
            max-height: 150px;
            overflow: auto;
            div
            {
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
                *
                {
                    align-self: center;
                }
                label
                {
                    margin-bottom: 0;
                    margin-left: 10px;
                }
            }
        }
        span.alert
        {
            font-family: OpenSansSemiBold;
            font-size: 1em;
        }
        span.little
        {
            .secondary_text;
        }
        input.date-form
        {
            width: 49.6%;
            display: inline-block;
        }
        &#publication input[name="date_start"]
        {
            width: 100%;
        }
    }
}

div.examples
{
    grid-area: examples;
    padding-left: 15px;
    h1 {
      background: @white-100;
      padding: 5px 0px;
      z-index: 9;
    }
    h1, .wrapper
    {
        position: sticky;
        transition: all 0.2s;
        top: 60px;
    }
    .wrapper
    {
        top: 100px;
    }
    .wrapper .article
    {
        background: @white-300;
        margin-bottom: 15px;
        .text
        {
            padding: 8px 15px;
        }
        button.btn.btn-warning, button.btn.btn-light
        {
            width: 100%;
            border-radius: 0px;
            height: 24px;
            font-size: 1em;
            padding: 0;
        }
        &:last-child
        {
            margin-bottom: 0px;
        }
    }
}

div.data
{
    padding-top: 15px;
    grid-area: data;
}

div.home
{
    &__panel
    {
        width: 50%;
        min-width: 560px;
        margin: 0 0 15px;
        > div
        {
            * + *
            {
                margin-left: 5px;
            }
            .btn-dismiss-all
            {
                margin-left: 15px;
            }
        }
    }
}

article + article
{
    margin-top: 2px;
}

.btn-art
{
    .primary_text;
    padding: 0;
    color: @grey-500;
    &:active, &:focus
    {
        box-shadow: none;
    }
    &:hover
    {
        color: @orange-500;
    }
}

article
{
    margin-bottom: 0px;
    min-height: 92px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .article
    {
        width: 100%;
        min-height: 90px;
        display: flex;
        flex-direction: row;
        background: @white-300;
        position: relative;
        .btn.btn-warning {
          &:hover, &:focus, &:active, &:active:focus {
            background-color: #ffc107;
            box-shadow: none;
          }
          cursor: default;
        }
        label
        {
            margin: 0;
        }
        .select
        {
            padding: 15px 0px 15px 15px;
            display: flex;
            align-items: center;
        }
        .text
        {
            padding: 8px 15px;
        }
        button.btn-warning
        {
            border-radius: 0px;
            font-size: 1em;
            padding: 7px;
            position: relative;
            z-index: 2;
        }
    }
    &:last-child
    {
        margin-bottom: 0px;
    }
    .menu
    {
        padding: 0;
        display: flex;
        min-width: 150px;
        background: @white-300;
        padding: 5px 5px 5px 0px;
        > div
        {
            align-self: center;
            padding: 10px;
            padding-left: 0px;
        }
        .fa-ul
        {
            margin-bottom: 0px;
            .fa-li
            {
                margin-top: 4px;
            }
        }
    }
}

.nothing_found
{
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px;
    background: @white-300;
}

.form-control
{
    border-radius: 0px;
    &:focus
    {
        border-color: #ced4da;
        box-shadow: 0 0 0 0.2rem @orange-200;
    }
}

.card
{
    border-radius: 0px;
}
/*
article .collapse
{
    height: auto;
    width: auto;
}

article .collapsing
{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

article .collapsing.width
{
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}
*/
.btn
{
    &.btn-warning
    {
        border: none;
        border-radius: 0px;
        .button_text;
    }

    &.btn-link
    {
        color: @orange-500;
        .button_text;
    }

    &.btn-success, &.btn-danger
    {
        border: none;
        border-radius: 0px;
        .button_text;
    }
}

label.select_all_label
{
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    padding-top: 8px;
    position: relative;
    overflow: hidden;
    span
    {
        position: relative;
        z-index: 1;
    }
    &::after
    {
        transition: all 0.3s;
        content: '';
        position: absolute;
        top: 0px;
        left: 200px;
        width: 240px;
        height: 100px;

        background: @orange-500;
        z-index: 0;
    }
    &.checked::after
    {
        left: -10px;
    }
}

.validate-error
{
    font-family: OpenSansSemiBold;
    color: @red;
    &::before
    {
        content: '•';
        margin-right: 5px;
    }
    &.without_point
    {
        margin-right: 10px;
        &::before
        {
            content: '';
        }
    }
}

.validate-error-input
{
    border-color: @red;
}

.form-group
{
    position: relative;
}

.alert
{
    font-family: OpenSans;
    .date
    {
        font-size: 0.85em;
    }
}

content .error_404
{
    text-align: center;
    h1
    {
        font-size: 10em;
        font-family: OpenSansLight;
        text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    }
    h2
    {
        font-size: 3em;
    }
    a.link
    {
        padding: 10px 20px;
        border-radius: 50px !important;
        background: @orange-300;
        color: @grey-400;
        text-decoration: none;
        transition: background 0.3s;
        &:hover
        {
            background: @orange-500;
        }
    }
}

#skeleton
{
    margin-bottom: 2px;
    .skeleton-wrapper
    {
        height: 92px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 2px;
        .skeleton-article
        {
            flex-grow: 1;
            width: 75%;
            display: flex;
            flex-direction: row;
            background: @white-300;
            position: relative;
            label
            {
                margin: 0;
            }
            label:nth-child(2)
            {
                width: 100%;
            }
            .skeleton-select
            {
                padding: 15px 0px 15px 15px;
                display: flex;
                align-items: center;
            }
            .skeleton-checkbox
            {
                width: 30px;
                height: 13px;
                border-radius: 50px !important;
                background: @white-500;
            }
            .skeleton-text
            {
                padding: 8px 15px;
                flex-grow: 1;
            }
            .skeleton-text-part
            {
                width: 100%;
                background: @white-400;
                border-radius: 50px !important;
                height: 13px;
                margin-bottom: 7px;
            }
            .skeleton-text-part2
            {
                margin-bottom: 7px;
                width: 30%;
                background: @white-400;
                border-radius: 50px !important;
                height: 13px;
            }
            .skeleton-btn
            {
                border-radius: 0px;
                font-size: 1em;
                padding: 7px;
                position: relative;
                z-index: 2;
            }
            .skeleton-btn-ellipsis
            {
                width: 20px;
                background: @white-500;
            }
        }
        &:last-child
        {
            margin-bottom: 0px;
        }
        .skeleton-menu
        {
            background: @white-300;
            padding: 15px 10px;
            .fa-ul
            {
                margin-bottom: 0px;
                margin-left: 0;
                li
                {
                    width: 130px;
                    height: 13px;
                    background: @white-400;
                    border-radius: 50px !important;
                }
                li + li
                {
                    margin-top: 9px;
                }
            }
        }
    }
}
.filter
{
    background: @white-300;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding: 5px 15px;
    margin-bottom: 2px;
    * + *
    {
        margin-left: 5px;
    }
    label.btn-select-all
    {
        display: flex;
        margin-bottom: 0;
        span
        {
            margin: 0;
            padding-top: 9px;
            width: 100%;
            background: @orange-300;
        }
    }
    input.search, select.year, select.format
    {
        background-color: @white-100;
        border-radius: 0;
        font-size: 1em;
        color: #424242;
        padding: 10px;
        transition: all 0.2s;
        border: none;
        flex-grow: 1;
        &:focus
        {
            box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
            outline: none;
        }
    }
    input[type="checkbox"]:checked ~ span.btn-warning
    {
        transition: all 0.2s;
        border-bottom: 3px solid @orange-500;
        border-top: 3px solid @orange-500;
        color: @grey-500;
        font-family: OpenSans;
        padding: 6px 12px;
    }
    &.filter_paginate {
      font-size: 0.9em;
      label {
        margin-top: 5px;
        margin-bottom: 0;
      }
      input.btn, button.btn.btn-warning, select {
        padding: 4px 9px;
        height: 28px;
        flex-grow: 0;
      }
      label.free-space {
        flex-grow: 1;
      }
      &:last-child {
        margin-top: 2px;
      }
    }
}

.skeleton_user
{
    .skeleton-nir-box
    {
        margin-top: 15px;
        .skeleton-nir-header
        {
            width: 100%;
            height: 37px;
            background: @white-300;
            padding: 5px;
            margin-bottom: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .skeleton-nir-title
            {
                width: 25%;
                height: 20px;
                background: @white-400;
                border-radius: 50px !important;
            }
            .skeleton-nir-arrow
            {
                width: 20px;
                height: 20px;
                margin-right: 6px;
                background: @white-400;
                border-radius: 50px !important;
            }
        }
        .skeleton-nir-body
        {
          .skeleton-nir-item
          {
            padding: 5px;
            width: 100%;
            background: @white-300;
            margin-bottom: 2px;
            .skeleton-nir-line
            {
              width: 95% !important;
              width: 25%;
              height: 14px;
              background: @white-400;
              border-radius: 50px !important;
            }
            .skeleton-nir-line2
            {
              width: 40% !important;
              width: 25%;
              height: 14px;
              margin-top: 5px;
              background: @white-400;
              border-radius: 50px !important;
            }
          }
        }
    }
}
